<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E_Bank Verification</title>
</head>
<style>
  .emailVerificationDiv{
    background-color: rgba(0, 0, 0, 0.266);
    width: 50%;
    height: 100%;
    margin: auto;
    font-size: large;
    font-weight: 400;
    font-family: sans-serif;
    padding: 2rem;
  }
  table{
    /* border: 2px solid black; */
    /* background-color: ; */
  }
  tbody{
    color: white;
  }
  td{
    border: 2px solid black;
  }

</style>


<body>
<div class="emailVerificationDiv">
  <p>
  <h4>Dear <span th:text="${name}"></span>,</h4><br/><br/>

  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat quae dolores, doloribus omnis sed nostrum a fugit est ipsum aut possimus deserunt saepe nulla culpa ipsam eaque voluptatibus perferendis in.
  Corporis consequuntur cumque quos eos ab ex, perferendis officia velit fuga molestias alias ad ea eius minima sed! Necessitatibus quasi rerum, labore explicabo nam obcaecati alias illo inventore voluptatibus dolores.
  <br><br>

  <table class="table">
    <thead>
    jodasflda
    </thead>
    <tbody>
    <tr>
      <td>Bank name: </td>
      <td><span th:text="${bankName}"></span></td>
    </tr>
    <tr>
      <td>Location: </td>
      <td><span th:text="${bankLocation}"></span></td>
    </tr>
    <tr>
      <td>Amount: </td>
      <td><span th:text="${amount}"></span> </td>
    </tr>
    <tr>
      <td>Transaction type: </td>
      <td><span th:text="${transactionType}"></span></td>
    </tr>
    <tr>
      <td>Transaction status: </td>
      <td><span th:text="${transactionStatus}"></span></td>
    </tr>
    <tr>
      <td>Time: </td>
      <td><span th:text="${time}"></span></td>
    </tr>
    <tr>
    </tbody>
  </table>
  Balance :

  <p>
    Best Regards,<br/>
    <Strong>Oso Temidayo David</Strong><br>
    Java Software engineer and
    the Builder of E_Bank Application
  </p>
</div>


</body>
</html>